h1 {
  color: #0b033c;
}

p {
  color: #808080;
}

.product {
  margin-top: 430px;
}

.header__background {
  position: absolute;
  z-index: -999;
  right: 0;
  top: 0;
}

.product__container__image {
  width: 100%;
  height: 150px;
  margin: 0 auto;
}
.product__image {
  max-width: 100%;
}

.connect {
  margin-top: 250px;
}
.connect__container__image {
  width: 100%;
  height: 100px;
  display: grid;
  align-items: center;
  justify-items: center;
}

.connect__title {
  font-size: 26px;
}

.connect .connect__image {
  width: 50%;
}

.product {
  margin-top: 430px;
}

.product__list {
  margin-top: 50px;
}

.connect {
  margin-top: 245px;
}

.connect__container__image::after {
  content: "";
  border: 1px solid red;
  width: 100%;
}

.connect__item:nth-child(2) {
  /* background: red;   */
  position: relative;
  bottom: 50px;
}


.start {
  margin-top: 220px;
}

.footer {
  background: #07043b;
  margin-top: 120px ;
  padding: 95px 0 150px 0;
  color: white;
}

.footer p {
  color: white;
}

.footer__image {
  background: white;
}

.footer__menu-link {
  color: white;
}

@media (max-width: 991.98px) { 
  .menu {
    display: flex;
    flex-direction: column;
  }
  .menu__item {
    display: inline-block;
    width: 200px;
    text-align: center;
    background: #07043b;
    margin: 5px;
  }
  .header__background {
    display: none;
  }
  .product {
    margin-top: 50px;
  }
  .connect {
    margin-top: 50px;
  }
  .connect__item {
    margin: 10px;
  }

  .connect__item:nth-child(2) {
    position: relative;
    bottom: 0;
  }
  .connect__container__image {
    width: 100%;
    height: 180px;
    display: grid;
    align-items: center;
    justify-items: center;
  }
  .start {
    margin-top: 50px;
  }
 }


/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
}

.page {
  display: grid;
  max-width: 1440px;
  height: 980px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas: "page__header" "page__content" "page__footer";
  margin: 0 auto;
}

.page__header {
  grid-area: page__header;
}

.page__content {
  grid-area: page__content;
}

.page__footer {
  grid-area: page__footer;
}

.page__header {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 65px;
  padding: 0 20px;
}

.header__background {
  position: absolute;
  top: -65px;
  right: -30px;
  z-index: -999;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu .menu__list {
  display: flex;
  list-style-type: none;
}
.menu .menu__item {
  margin: 0 10px;
}
.menu .menu__link {
  display: inline-block;
  color: #2b2b2b;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  padding: 10px 30px;
  font-weight: 500;
}
.menu .menu__link:hover {
  color: #201ddd;
  transform: scale(1.1);
}
.menu .menu__right .menu__item:nth-child(2) {
  background-color: #06d79d;
  size: 50px;
}
.menu .menu__right .menu__item:nth-child(2):hover {
  transform: scale(1.1);
}

.banner {
  display: flex;
  position: relative;
  margin-top: 20px;
}
.banner .banner__info {
  width: 515px;
  margin-top: 175px;
}
.banner .banner__title {
  font-size: 4.5rem;
}
.banner .banner__description {
  margin: 40px 0;
  font-size: 1.5rem;
  color: gray;
}
.banner .banner__image {
  margin-top: 75px;
  position: absolute;
  z-index: -1;
  right: 125px;
}

.button__get-start, .start__heading .button__get-start {
  display: block;
  width: 300px;
  text-align: center;
  color: #fafafa;
  padding: 30px 90px;
  background: #06d79d;
  font-size: 2rem;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 5px 5px 20px #2b2b2b;
}
.button__get-start:hover {
  box-shadow: 10px 10px 20px #070439;
  transition: 0.3s;
}

.start__heading .button__get-start {
  margin: 70px auto;
  text-align: center;
  background: red;
}

.page__content {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
}
.page__content .content__image {
  width: 90%;
  height: 740px;
  transform: rotate(7deg) skew(-10deg);
  background: #2b2b2b;
  border-radius: 10%;
  opacity: 0.03;
  position: absolute;
  z-index: -1;
  left: 5%;
  top: 5%;
}
.page__content .content__title {
  color: #070439;
  font-size: 3rem;
}
.page__content .content__description {
  display: inline-block;
  width: 455px;
  margin-top: 30px;
  color: gray;
  font-size: 1.5rem;
}

.product {
  margin: 250px 0;
  width: 100%;
  padding: 0 20px;
}
.product .product__list {
  display: flex;
  margin-top: 85px;
  justify-content: space-around;
}
.product .product__item {
  width: auto;
}
.product .product__image {
  height: 130px;
  margin-bottom: 45px;
}
.product .prodcut__description {
  font-size: 2rem;
  color: gray;
}

.connect {
  display: grid;
  width: 100%;
  grid-template-columns: 2fr 3fr;
  align-items: center;
  grid-column-gap: 15px;
  padding: 0 20px;
}
.connect .connect__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  padding-right: 50px;
}
.connect .connect__item {
  border: 1px solid #fafafa;
  box-shadow: 2px 0 4px #2b2b2b;
}
.connect .connect__item:nth-child(2) {
  position: relative;
  bottom: 55px;
}
.connect .connect__item:nth-child(5) {
  position: relative;
  bottom: 55px;
}
.connect .connect__container__image {
  width: 100%;
  height: 125px;
  box-shadow: 0 2px 2px #2b2b2b;
  display: grid;
  align-items: center;
  justify-items: center;
}
.connect .connect__image {
  width: 50%;
}
.connect .connect__title {
  padding: 15px 30px;
  font-size: 3rem;
}
.connect .connect__description {
  padding: 15px 30px;
  font-size: 2rem;
  color: gray;
}

.start {
  width: 100%;
  margin-top: 220px;
  padding: 20px;
}

.page__footer {
  width: 100%;
  background: #070439;
  color: white;
  display: grid;
  grid-template-rows: 100px 250px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 50px;
}
.page__footer .footer__logo {
  grid-column: 1/4;
  align-self: center;
  padding: 20px 10px;
}
.page__footer .footer__image {
  background: white;
  padding: 20px 10px;
}
.page__footer .footer__contact {
  line-height: 35px;
}
.page__footer .footer__description {
  font-size: 2rem;
}
.page__footer .footer__input {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 40px;
  grid-gap: 10px;
  align-items: center;
  font-size: 2rem;
  margin: 10px 0;
}
.page__footer .footer__input-text {
  border-radius: 5px;
  border: none;
  font-size: 2rem;
  padding: 10px 20px;
  color: #2b2b2b;
}
.page__footer .footer__input-text:hover {
  background: gray;
}
.page__footer .footer__info {
  display: grid;
  grid-template-columns: 30px 1fr;
  align-items: center;
  grid-gap: 10px;
  font-size: 1.5rem;
}
.page__footer .footer__call {
  padding-right: 20px;
}
.page__footer .footer__menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  justify-items: end;
}
.page__footer .footer__menu-title {
  font-size: 3rem;
  padding-bottom: 20px;
}
.page__footer .footer__menu-list {
  list-style-type: none;
}
.page__footer .footer__menu-item {
  padding: 5px 0;
}
.page__footer .footer__menu-link {
  font-size: 2rem;
  text-decoration: none;
  color: white;
}
.page__footer .footer__menu-link:hover {
  color: #05d69b;
}

.button__join {
  text-align: center;
  padding: 5px 0;
  border: 2px solid red;
  border-radius: 5px;
  font-size: 2rem;
  color: white;
  text-decoration: none;
}
.button__join:hover {
  background: red;
  transition: 0.7 ease;
}

 */
